@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Việt Nam - Đất nước & Con người</h2>
<p>Việt Nam là quốc gia nằm ở Đông Nam Á, có 34 tỉnh/thành phố, dân số hơn 100 triệu người...</p>