@model List<bai3.Models.City>

<h2>Danh sách Thành phố / Tỉnh</h2>
<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.id</td>
                <td>@c.name</td>
            </tr>
        }
    </tbody>
</table>
